*{
  font-family: 'Fjalla One', sans-serif;
}
h1{
  text-align: center;
  color: #FFF;
  font-size: 50px;
  text-shadow: 1px 1px 7px rgba(150, 150, 150, 1);
}
h2{
  text-align: center;
  color: #FFF;
  font-size: 45px;
  text-shadow: 1px 1px 7px rgba(150, 150, 150, 1);
}

.bild {
  position:absolute;
  display:none;
  width:1000px;
  height:735px;
}
.bg { 
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: -99;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;  
  z-index: -999;
 }
 table
{
	border:3px solid blue;
	opacity: 0.95;
}
td,th
{
	border:1px solid black;
	opacity: 0.95;
	padding: 10px;
	text-align: center;
}

th
{
	background-color: #a70000;
	color: white;
}

tr:nth-child(even)
{
	background-color: #e8e8e8;
}
tr:nth-child(odd)
{
	background-color: white;
}

#header
{
	background-color: #005cb7;
	color: white;
}
.container{
	font-family: arial;
	font-weight: bold;
	background-color: #005cb7;
	color: white;
	border: 1px solid #000000;
	width: 340px;
	padding: 10px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.bgwidth { width: 100%; }
.bgheight { height: 100%; } 
